<!-- Venue Section -->
<section id="venue">
    <div class="content-wrapper">
      <div class="col-lg-10 col-lg-offset-1">
          <h3>{{ site.venueBlockTitle }}</h3>
          <div class="row venue-row">
              {% assign animationDelay = 0 %}
              {% for about in site.venueFeatures %}
              {% assign colWidth = 12 | divided_by: forloop.length %}
              <div class="col-md-12 col-sm-8 venue-col">
                  <div class="animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
                      <h5>{{ about.title }}</h5>
                      <img src="{{ site.baseurl }}/img/venue/{{ about.image }}" height="285" width="285" alt="{{ about.title }}">
                      <h5>{{ about.text }}</h5>
                      <p>
                        <a href="https://goo.gl/maps/pBz9S43tHfE2">Google Maps Directions</a>
                      </p>
                  </div>
              </div>
              {% assign animationDelay = animationDelay | plus:500 %}
              {% assign check = forloop.index | modulo:2 %}
              {% if check == 0 %} <div class="clearfix visible-xs"></div> {% endif %}
              {% endfor %}
          </div>
      </div>
    </div>
</section>
<!-- End Venue Section -->
